    @media (max-width: 767px) {
        .dropdown menu {
            : 0px;
        }
        .title-text {
            font-size: 13px;
        }
        .social-icon-title {
            font-size: 13px;
        }
        .social-icon-style {
            padding: 5px 6px;
            font-size: 13px;
            margin-right: 1px;
        }
        .logo img {
            width: 160px;
        }
        .navbar-toggle {
            padding: 9px 10px;
            margin-top: -10px;
            margin-right: -34px;
        }
        .left.carousel-control {
            left: 0px;
            top: 0px;
        }
        .right.carousel-control {
            right: 0px;
            top: 0px;
        }
        .icon-style {
            width: 30px !important;
            height: 30px !important;
            padding: 5px;
            border-radius: 50px;
        }
    }
    
    @media (min-width: 768px) and (max-width: 991px) {
        .navbar-nav>li>a {
            padding-top: 6px;
            padding-bottom: 9px;
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    
    @media (min-width: 992px) and (max-width: 1200px) {}
    
    @media (min-width: @screen-lg-min) {}
